@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a,
.btn {
  transision: all 300ms ease;
}

/* Set display properties to show differently on different resolutions */

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }
}
